PORT=4000
REDIS_URL=redis://localhost:6379
BR_OS_OPERATOR_VERSION=0.0.1
BR_OS_OPERATOR_COMMIT=local
BR_OS_ENV=local
LOG_LEVEL=info
BR_OS_OPERATOR_MAX_CONCURRENCY=10
BR_OS_OPERATOR_DEFAULT_TIMEOUT_SECONDS=300
